html {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  margin: auto;
  width: 40%;
  text-align: center;
  background-color: rgb(21, 21, 21);
  color: white
}

button {
  margin: 3px;
  padding: 5px;
  border: 1px solid grey;
}

#description {
  margin-top: 100px;
  padding: 10px; 
  border: 1px solid red;
  font-size: 20px;
}

#testField {
  margin: 0 auto;
  margin: 10%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  height: 300px;
  border: 5px solid rgb(43, 43, 43);
  border-radius: 10%;
  background-color: rgb(71, 71, 71);
}

#choices {
  margin-top: 20px;
}

#square {
  position: relative;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  background-color: rgb(71, 71, 71);
  border: 3px solid rgb(255, 255, 255);
}

#circle {
  position: relative;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  background-color: rgb(71, 71, 71);
  border: 3px solid rgb(255, 255, 255);
  border-radius: 50%;
}

#triangle {
  position: relative;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-bottom: 20px solid rgb(255, 255, 255);
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}




